
.heading{
  font-family: 'Rubik', sans-serif;
  padding-left: 5rem;
  color: #fff;
}
.temp_form{
  width: 60%;
  position: relative;
  font-family: 'Rubik', sans-serif;
  margin: 5rem auto;
}
.temp_form input[type="text"]{
 width: 100%;
 padding: 2rem 5rem 2rem 2rem;
 background: #1e202b;
 color: white;
 outline: none;
 border: none;
 font-family: 'Rubik', sans-serif;
 font-size: 1.7rem;
 border-radius: 3rem;
}
::placeholder{
  color: #bfc1c8;
  font-family: 'Rubik', sans-serif;
}
.temp_form input[type="submit"]{
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  border: none;
  background: #009ad8;
  padding: 0 3rem;
  border-radius: 3rem;
  color: white;
  font-size: 1.6rem;
}
.temp_form input[type="submit"]:hover{
  color: #009ad8;
  background-color: #fff;
}
.front_layer{
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  font-family: 'Rubik', sans-serif;
  border-radius: 3px;
  font-size:52px;
  color: #fff;
}
.mid_layer{
  margin-top: 10rem;
  display: flex;
  justify-content: space-around;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  color: #fff;
}
.front{
  margin-top: 3rem;
  text-align: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  border-radius: 3px;
  font-size:52px;
  color: #fff;
}
.sea{
  align-items:center;
  margin-left: 10rem;
}
.secondary{
  font-family: 'Tangerine', serif;
  font-size: 30px;
  color: #fff;
}
.st{
  margin-top: 15rem;
}
.welcome{
  padding-left: 52rem;
  margin-top: 15rem;
}
